{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}MerchEx{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
</head>
<body>
    <header>
        <nav>
            <p style="text-align: center; font-weight: bold;">
            <img src="{% static 'listings/images/logo.png' %}" alt="Logo MerchEx" style="width: 200px; height: auto;">

            <a href="{% url 'listings:band-list' %}">Bands</a>
            <a href="{% url 'listings:contact' %}">Mail</a>
            <a href="{% url 'listings:about' %}">About</a>
            </p>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 MerchEx</p>
    </footer>
</body>
</html>