{% load static %}

<html>
    <head><title>{% block title %}MerchEx{% endblock %}</title></head>
     <link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
    <header>
        <nav>
    <img src="{% static 'listings/images/logo.jpeg' %}" alt="Logo MerchEx" style="width: 200px; height: auto;">

     <a href="{% url 'band_list' %}">Bands</a>
     <a href="{% url 'contact' %}">Mail</a>
     <a href="{% url 'about' %}">About</a>
     
     
        </nav>

    </header>
 <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 MerchEx</p>
    </footer>
</body>
</html>